#mostrarNombre{
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 22px;
    -fx-min-height: 30;
    -fx-min-width: 55;
    -fx-font-weight: bold;
}
#bienvenido{
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#main{
    -fx-background-color: #1c1c1c;
}
.seccion{

}

.seccion:hover{
    -fx-background-color: #515151;
}
.seccion:selected{
    -fx-background-color: #515151;
}
.labelCadaPanel{
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16px;
}
.labelCadaPanel:selected{
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16px;
}

.labelCada{
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
     -fx-pref-height: 50px;

}
#menu{
    -fx-background-color: #1f2124;
}
.labelSuperior{
    -fx-text-fill: #FFF;
        -fx-font-family: "Roboto Mono";
        -fx-font-size: 16px;
        -fx-font-weight: bold;
}
.btnContinuar{
    -fx-background-color: #28C3E5;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: bold;
}
.btnAtras{
    -fx-font-family: "Roboto Mono";
    -fx-background-color: #E56128;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.columna{
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 18px;
    -fx-border-color: #8B8B8B;
    -fx-background-color: #E0DFDF;

}
#tabla{

}
#btnVolver{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #E56128;
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: bold;
}

#libroTitulo{
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}
#libroAutor{
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}
.ver{
    -fx-background-color: #1f2124;
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: bold;
}
.labelCadaTitulo{
     -fx-font-family: "Roboto Mono";
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-pref-width: 100px;
}
.labelCadaAutor{
    -fx-font-family: "Roboto Mono";
        -fx-font-size: 12px;
        -fx-pref-width: 100px;
}
.cadaAnchor{
    -fx-background-color: #F4F4F4;
    -fx-border-color: black;
    -fx-border-width: 2;
}
#barra{

}
#filtrar{
    -fx-text-fill : #FFF;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16px;
}
.opciones{

}
#scroll{
      -fx-background-color: #1c1c1c;
}
.introducir{
    -fx-font-family: "Roboto Mono";
    -fx-background-color: #FFF;
    -fx-font-size: 16px;
    -fx-border-color: #1f2124;
}

#img{
    -fx-background-color: #FFF;
}
.img{
    -fx-background-color: #FFF;
}
#introducir{
    -fx-font-size: 14px;
    -fx-min-height: 10;
    -fx-max-height: 45;
    -fx-border-color: #1f2124;
}
.error{
    -fx-text-fill : "red";
 }